@model ProfileModel

@{
    ViewData["Title"] = "ProfileView";
}

<h1>ProfileView</h1>
    <p>InternId: @Model.InternId</p>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Date of Join: @Model.DateOfJoin</p>
    <p>Date of Birth: @Model.DateOfBirth</p>
    <p>Course Stream: @Model.CourseStream</p>
    <p>Department: @Model.Department</p>
    <p>Email: @Model.Email</p>
    <p>Password: @Model.Password</p>